@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web appliaction has been created for educational purposes only!</p>
<p>Please do not provide any sensitive information!</p>
